@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Dangrek&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");

* {
  background-color: #b0b3b8;
  margin: 0px;
  padding: 0px;
}
html {
  overflow-x: hidden;
}

.top-bar {
  width: 1700px;
  height: 45px;
  background-color: white;
  border-bottom: solid 2px grey;
  position: relative;
}

.username {
  position: absolute;
  font-family: "Abyssinica SIL", serif;
  font-size: 23px;
  left: 1300px;
  top: 5px;
  background-color: inherit;
}

.home-link {
  position: absolute;
  left: 85px;
  top: 7px;
  font-size: 17px;
  font-family: "Abyssinica SIL", serif;
  text-decoration: none;
  color: white;
  background: black;
  padding: 3px;
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 1s;
}

.home-link:hover {
  transform: scale(1.2);
}

.background {
  position: relative;
  left: 0;
  top: 0;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 340px;
  z-index: 0;
}

.user-avatar {
  position: absolute;
  left: 60px;
  top: 200px;
  width: 0px;
  height: 0px;
  z-index: 1;
  border: 4px;
}
#user-avatar-image {
  position: absolute;
  z-index: 1;
}

.number-of-posts {
  position: absolute;
  top: 305px;
  left: 310px;
  background: transparent;
  color: white;
  font-family: "Abyssinica SIL", serif;
  font-size: 20px;
  font-weight: 700;
}

.change-profile {
  position: absolute;
  top: 300px;
  left: 1200px;
  text-decoration: none;
  color: black;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
}

.update-profile {
  text-decoration: inherit;
  color: inherit;
  background: #ffc0cb;
  padding: inherit;
  border-radius: inherit;
}

.update-profile:hover {
  background: #73989e;
  transition: 1s;
}

.delete-profile {
  margin-left: 30px;
  text-decoration: inherit;
  color: inherit;
  background: #ffc0cb;
  padding: inherit;
  border-radius: inherit;
}

.delete-profile:hover {
  background: #73989e;
  transition: 1s;
}

.user-info {
  position: relative;
  top: 345px;
  left: 310px;
  font-family: "Abyssinica SIL", serif;
  font-size: 18px;
}

.user-name {
  position: absolute;
  top: 0px;
}
.user-surname {
  position: absolute;
  top: 22px;
}
.user-bio {
  position: absolute;
  top: 44px;
}
.user-location {
  position: absolute;
  top: 66px;
}

.posts {
  position: absolute;
  left: 130px;
  top: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}

.post {
  padding: 10px;
  background: white;
  border: 3px solid #be185d;
  border-radius: 7px;
  width: 375px;
  height: 320px;
  margin-bottom: 10%;
}

.another-post {
  padding: 10px;
  background: white;
  border: 3px solid #be185d;
  border-radius: 7px;
  width: 375px;
  height: 285px;
  margin-bottom: 10%;
}

.post-title {
  background: white;
  overflow: hidden;
  font-size: 30px;
}

.post-image {
  background: white;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.post-image:hover {
  text-shadow: 3px 4px 1px rgb(255, 192, 203);
}

.no-image {
  background: white;
}

.post-text {
  background: white;
  overflow: scroll;
  height: 150px;
  margin-top: 10px;
}

.post-text > p {
  background: white;
}

.post-created-at {
  margin-top: 15px;
  background: white;
}
.post-created-at > p {
  background: white;
}

.number-of-likes-and-comments {
  margin-top: 10px;
  background: white;
}

.number-of-likes-and-comments > p {
  background: white;
  font-weight: 700;
}

.change-button {
  margin-top: 20px;
  background: white;
}

.update-post-button {
  background: #ffc0cb;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.delete-post-button {
  background: #ffc0cb;
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

.update-post-button:hover {
  background: #73989e;
  transition: 1s;
}

.delete-post-button:hover {
  background: #73989e;
  transition: 1s;
}
