@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap");

* {
  background-color: #b0b3b8;
  margin: 0px;
  padding: 0px;
}
.top-bar {
  width: 100%;
  height: 75px;
  background-color: white;
  border-bottom: solid 2px grey;
  position: relative;
}

.change-link {
  position: absolute;
  top: 20%;
  left: 85%;
  font-size: 17px;
  font-family: "Abyssinica SIL", serif;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-left: 6px;
  padding-right: 6px;
  width: 110px;
  height: 30px;
  background-color: black;
  border-radius: 6px;
  transition-property: transform;
  transition-duration: 1s;
}

.change-link:hover {
  transform: scale(1.2);
}

.name {
  position: absolute;
  top: 10%;
  left: 6%;
  background-color: inherit;
  font-family: "Pacifico", cursive;
}

.login-form {
  position: relative;
  margin-left: 35%;
  margin-top: 27vh;
  border: none;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  font-weight: 700;
}
.header {
  position: absolute;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

button {
  position: absolute;
  margin-top: 153px;
  font-size: 20px;
  width: 25vw;
  height: 6vh;
  border-radius: 8px;
  color: white;
  border: none;
  background: linear-gradient(to right, #ec4998, #f87072);
  transition-property: transform;
  transition-duration: 1s;
}

button:hover {
  transform: scale(1.2);
}

.input-field {
  position: absolute;
  background-color: white;
  width: 25vw;
  margin-top: 85px;
  height: 6vh;
  border-radius: 8px;
  border: none;
}

#username {
  position: absolute;
  background-color: white;
  width: 25vw;
  height: 6vh;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
}

input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input[type="password"]::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.update {
  position: relative;
  left: 270px;
  top: 80px;
  color: #333333;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home-link {
  position: relative;
  top: 80px;
  left: 270px;
  font-size: 17px;
  font-size: 30px;
  font-family: "Abyssinica SIL", serif;
  text-decoration: none;
  color: black;
}
.home-link:hover {
  text-shadow: ;
}

.separator {
  margin-top: 100px;
  width: 65%;
  margin-left: 17%;
}
.save {
  font-size: 20px;
  width: 70px;
  height: 35px;
  border-radius: 6px;
  color: white;
  border: none;
  background: #be185d;
}
.save:hover {
  transform: none;
}

.account-info-text {
  position: relative;
  top: 180px;
  left: 270px;
  font-family: "Abyssinica SIL", serif;
}

.username {
  position: absolute;
  top: 30px;
  left: 0px;
  background: #b0b3b8;
  font-size: 25px;
  font-family: inherit;
}

.register-form {
  position: relative;
  margin-left: 35%;
  margin-top: 10vh;
  border: none;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  font-weight: 700;
}
.create-profile-form {
  position: relative;
  margin-left: 35%;
  margin-top: 10vh;
  border: none;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  font-weight: 700;
}

.sign-up-header {
  position: absolute;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

#id_username {
  position: absolute;
  margin-top: 10vh;
}

#id_email {
  position: absolute;
  margin-top: 20vh;
}

#id_password {
  position: absolute;
  margin-top: 30vh;
}

#id_password2 {
  position: absolute;
  margin-top: 40vh;
}

#id_firstname {
  position: absolute;
  margin-top: 10vh;
}
#id_lastname {
  position: absolute;
  margin-top: 20vh;
}

#id_profile_picture {
  position: absolute;
  margin-left: 13%;
  margin-top: 30vh;
  background: transparent;
  width: 7%;
  height: 22px;
  border: none;
}
#id_bio {
  position: absolute;
  margin-top: 37vh;
}
#id_location {
  position: absolute;
  margin-top: 47vh;
}

.profile-picture-label {
  position: absolute;
  font-size: initial;
  font-weight: initial;
  font-family: initial;
  margin-top: 30vh;
}
.post-image-label {
  position: absolute;
  font-size: initial;
  font-weight: initial;
  font-family: initial;
  margin-top: 53vh;
}

.form-control {
  position: absolute;
  background-color: white;
  width: 25vw;
  margin-top: 85px;
  height: 6vh;
  border-radius: 8px;
  border: none;
  display: block;
}

.register-button {
  position: absolute;
  margin-top: 50vh;
}
.create-profile-button {
  position: absolute;
  margin-top: 57vh;
}

.upload-post-button {
  position: absolute;
  margin-top: 60vh;
}
.error-message {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  color: rgba(255, 0, 0, 0.6);
}

#id_title {
  position: absolute;
  margin-top: 10vh;
}
#id_text {
  position: absolute;
  height: 30vh;
  margin-top: 20vh;
  resize: none;
}
#id_image {
  position: absolute;
  margin-left: 10%;
  margin-top: 53vh;
  background: transparent;
  width: 7%;
  height: 22px;
  border: none;
}

.bar {
  width: 100vw;
  height: 55vh;
  background: white;
}

.comment-form {
  position: absolute;
  margin-left: 12%;
  margin-top: 2vh;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  font-weight: 700;
}


.add-comment {
  position: absolute;
  left: 12%;
  top: 3%;
  background: transparent;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  font-weight: 700;
}

.comment-button {
  position: absolute;
  left: 12%;
  top: 28%;
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  height: 35px;
  border-radius: 6px;
  color: white;
  border: none;
  background: #be185d;
}

.comment-button:hover {
  transform: none;
}

.text-label{
  position: absolute;
  left: 12%;
  top: 8%;
  background: transparent;
  color: #333333;
  font-weight: 500;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -0.04cm;
}

#id_comment_text{
  position: absolute;
  height: 30vh;
  width: 45vw;
  resize: none;
  border: 3px solid #be185d;
  background: rgba(224, 224, 224, 0.5);
}