{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/profile.css" />
  <title>Profile</title>
</head>
<body>   
  <!--header -->
  <div class="top-bar">
    <a href="/" class="home-link">Home</a>
    <span class="username">{{user.username}}</span>
  </div>

  <div class="background">
    <img src="/static/images/profile-background.jpg" alt="no image" class="background-image" />

      <span class="number-of-posts">Number of posts: {{number_of_posts}}</span>
      <div class="user-avatar">
        {% if profile.profile_picture %}
          <img src="{{profile.profile_picture.url}}" alt="no image">
        {% else %} 
          <img src="/static/images/blank-profile-picture.png" alt="no image" width="220px" height="230px" style="border-radius: 10px; border: 3px solid #4a82fe">
        {% endif %}
      </div>
  </div>
    
<!-- user info -->
    <div class="user-info">
      <span class="user-name">Name: <b>{{profile.firstname}}</b></span>
  
      <span class="user-surname">Surname: <b>{{profile.lastname}}</b></span>
  
      <span class="user-bio">Bio: <b>{{profile.bio}}</b></span>
  
      <span class="user-location">Location: <b>{{profile.location}}</b></span>
    </div>

<!-- posts -->
   {% for p in posts %} 
    <h2><strong>{{p.title}}</strong></h2>
      {% if p.image %}
        <img src="{{p.image.url}}"></img>
      {% else %}
        <h5>No Image</h5>
      {% endif %} 
    <h5>{{p.text}}</h5>
    <p>{{p.created_at}}</p>
    <strong>{{p.number_of_likes}}</strong> likes and<strong> 
          
    {{p.comments.count}}</strong> comments
    {% endfor %}
  </body>
</html>  