{% load static %} {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Create Post</title>
  </head>
  <body>
    <!-- header-->
    <div class="top-bar">
      <h1 class="name">My Blog</h1>
    </div>
    <!-- content-->

    <div class="create-profile-form">
      <p class="post-image-label">Post image:</p>
      <h1 class="sign-up-header">Upload post</h1>
      <form action="" enctype="multipart/form-data" method="post">
      {% csrf_token %}
  
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
  
      {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field|add_class:'form-control'}}
          {% for error in field.errors %}
            <span class="error-message">{{ error }}</span>
          {% endfor %}
          <button type="submit" class="upload-post-button">Upload post</button> 
        </div>
        {% endfor %}
      </form>
  </body>
</html>
