{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Sign In</title>
  </head>
  <body>
    <!-- header-->
    <div class="top-bar">
      <h1 class="name">My Blog</h1>
      <a href="/register/" class="change-link">Register</a>
    </div>
    <!-- content-->
    <div class="login-form"
      <h1 class="header">Log in</h1>

       {% for message in messages %} 
        <h5 class="error-message">{{message}}</h5>
       {% endfor %} 

      <form action="" method="post">
        {% csrf_token %}
          <input
          type="text"
          name="username"
          placeholder="Username"
          class="input-field"
          id="username"
          />
          <input
          type="password"
          name="password"
          placeholder="Password"
          class="input-field"
          />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
