{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "favicon.png" %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
</head>

<body>

            <header>
                <div class="header_inner">
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo" class=" uk-hidden@s">
                            <a href="home.html">
                                <b><h1 style="text-transform: uppercase;">My Blog</h1></b>
                            </a>
                        </div>

                         <div class="header_search">
                             <span class="block capitalize font-semibold ">My Blog</span>
                            <div class="icon-search">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                </svg>  
                            </div>  
                        </div>

                    </div>
                    <div class="right-side lg:pr-4">
                         <!-- upload -->
                        <a href="/create_post/"
                            class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">
                            <ion-icon name="add-circle" class="-mb-1
                             mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Upload Post
                    </a>

                        <!-- profile -->

                        {% if user_image.profile_picture.url %}
                        <img
                          src="{{user_image.profile_picture.url}}"
                          class="header-avatar"
                          alt="">
                        {% else %}
                        <img
                          src="{% static 'images/blank-profile-picture.png' %}"
                          class="header-avatar"
                          alt="">
                        {% endif %}
                        
                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
                            <ul>
                                <li><a href="/profile/?user_pk={{user.pk}}">View Profile</a></li>
                                <li><a href="/logout/">Log Out</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </header>

            {% for p in posts %}
            <div class="container m-auto">

                    <!-- left sidebar-->
                    <div class="space-y-5 flex-shrink-5 lg:w-7/20">

                        <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">
    
                            <!-- post -->
                            <div class="flex justify-between items-center px-4 py-3">
                                <div class="flex flex-1 items-center space-x-4">
                                    <a href="#">
                                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">  
                                            {% if profile_picture.profile_picture.url %}
                                            <img
                                              src="{{profile_picture.profile_picture.url}}"
                                              class="bg-gray-200 border border-white rounded-full w-8 h-8"
                                              alt="">
                                            {% else %}
                                            <img
                                              src="{% static 'images/blank-profile-picture.png' %}"
                                              class="bg-gray-200 border border-white rounded-full w-8 h-8"
                                              alt="">
                                            {% endif %}
                                        </div>
                                    </a>
                                    <a href="/profile?user_pk={{p.author.pk}}"
                                    <span class="block capitalize font-semibold "> {{p.author}} </span> 
                                </a>
                                </div>
                              <div>
                                <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden text-base border border-gray-100  " uk-drop="mode: hover;pos: top-right">             
                                </div>
                              </div>
                            </div>
    
                            <div uk-lightbox>
                                

                                <h2>{{p.title}}</h2>

                                {% comment %} {% if p.image.url %}
                                <p img class="img-article-left thumb" src="{{p.image.url}}"></p>
                                {% endif %} {% endcomment %}

                                <h1>{{p.text}}</h1>

                                <h1>{{p.created_at}}</h1>

                                
                            </div>
                            
    
                            <div class="py-3 px-4 space-y-3"> 
                               
                                <div class="flex space-x-4 lg:font-bold">
                                    <a href="/like_post?post_id={{p.pk}}" class="flex items-center space-x-2">
                                        <div class="p-2 rounded-full text-black">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                            </svg>
                                        </div>
                                        
                                    </a>
                                    <a href="#" class="flex items-center space-x-2">
                                        <div class="p-2 rounded-full text-black">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        
                                    </a>
                                </div> 
                                <div class="flex items-center space-x-3"> 
                                    <div class="flex items-center">
                                    </div>
                                    <div class="">
                                         <strong>{{p.number_of_likes}}</strong> likes and<strong>
                                             {{number_of_comments}}</strong> comments
                                    </div>
                                </div>

                                <div class="border-t pt-4 space-y-4 ">
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}

                        <style>
                            .center {
                              text-align: center;
                            }
                            
                            .pagination {
                              display: inline-block;
                            }
                            
                            .pagination a {
                              color: black;
                              float: left;
                              padding: 8px 16px;
                              text-decoration: none;
                              transition: background-color .3s;
                            }
                            
                            .pagination a.active {
                              background-color: #4CAF50;
                              color: white;
                            }
                            
                            .pagination a:hover:not(.active) {background-color: #ddd;}
                            </style>
                <div class="center">
                    <div class="pagination">
                        <ul>
                            {% for p in paginator.page_range %}
                            <a href="?page={{ p }}">{{ p }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>