{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css" />
    <title>Home</title>
</head>
  <body>
  <!--header -->
  <div class="top-bar">
      <h1 class="name">My Blog</h1>
      <a href="/create_post/" class="upload-post">Upload Post</a>
      <!--dropdown -->
       <div class="corner-avatar">
      {% if user_image.profile_picture %}
        <img src="{{user_image.profile_picture.url}}" class="header-avatar" alt="">
        {% else %} 
            <img src="/static/images/blank-profile-picture.png" class="header-avatar" alt="" style="width: 35px; height: 35px; border-radius: 50%">
        </div>
        {% endif %} 
        <select>
                <div class="dropdown">
                <ul>
                    <option value="">
                        <li><a href="/profile/?user_pk={{user.pk}}">View Profile</a></li>
                    </option>
                    <option value="">
                        <li><a href="/logout/">Log Out</a></li>
                    </option>
                </ul>
            </div>
        </select>
    </div>
  <!--content  -->
  <div class="posts">
    {% for p in posts %}
      <div class="post"> 
        <div class="post-author">
          {% if user_image.profile_picture %}
            <img src="{{user_image.profile_picture.url}}" class="header-avatar" alt="">
          {% else %} 
            <img src="/static/images/blank-profile-picture.png" class="post-avatar" alt="" style="width: 25px; height: 25px; border-radius: 50%">
          {% endif %} 
          <a href="/profile?user_pk={{p.author.pk}}" id="post-author">{{p.author}}</a>
        </div> 
        <h2 class="post-title">{{p.title}}</h2>
        {% if p.image %}
          <img src="{{p.image.url}}" class="post-image" 
          width="200px" height="200px"></img>
        {% else %}
          <h5 class="no-image">No Image</h5>
        {% endif %} 
        <div class="post-text"> 
          <p>{{p.text}}</p>
        </div>
        <div class="post-created-at">
          <h4>{{p.created_at}}</h4>
        </div>
        <div class="icons">
          <a href="/like_post?post_id={{p.pk}}" class="like-icon">
            <img src="/static/icons/thumbs-up-solid.svg" 
            class="fa-solid-thumbs-up-icon"></img></a>
          <a href="/comment/?post_id={{p.pk}}" class="comment-icon">
            <img src="static/icons/comment-solid.svg" 
            class="fa-solid-comment-icon"></img></a>
        </div>
        <div class="number-of-likes-and-comments">
          <p><b>{{p.number_of_likes}}</b> likes and <b>{{p.comments.count}}</b> comments</p>
        </div>
        {% if not p.comments.all %}
          <h2 class="no-comments-label">No comments</h2>
        {% else %}
          <h2 class="comments-label">Comments: </h2>
        {% for comment in p.comments.all %}
        <div class="comments">
          <strong class="comment-author">{{comment.author}}</strong>
          <p class="comment-text">{{comment.text}}</p>
          <p class="comment-created-at">{{comment.commented_at}}</p>
        </div>
        <hr class="comment-separator">
        {% endfor %}
        {% endif %}  
        </div>  
    {% endfor %}
    <!--pagination -->
    <div class="center">
      <div class="pagination">
        {% for p in paginator.page_range %}
          <a href="?page={{ p }}" class="pagination-button">{{ p }}</a>
        {% endfor %}
      </div>
    </div>
  </div>           
  </body>
</html>

