{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css" />
    <title>Home</title>
</head>
  <body>
  <!--header -->
  <div class="top-bar">
      <h1 class="name">My Blog</h1>
      <a href="/create_post/" class="upload-post">Upload Post</a>
      <!--dropdown -->
       <div class="corner-avatar">
      <!-- {% if user_image.profile_picture %}
        <img src="{{user_image.profile_picture.url}}" class="header-avatar" alt="">
        {% else %} -->
            <img src="/static/images/blank-profile-picture.png" class="header-avatar" alt="" style="width: 35px; height: 35px; border-radius: 50%">
        </div>
        <!-- {% endif %} -->
        <select>
                <div class="dropdown">
                <ul>
                    <option value="">
                        <li><a href="/profile/?user_pk={{user.pk}}">View Profile</a></li>
                    </option>
                    <option value="">
                        <li><a href="/logout/">Log Out</a></li>
                    </option>
                </ul>
            </div>
        </select>
    </div>
  <!--content  -->
  {% for p in posts %} 
    <a href="/profile?user_pk={{p.author.pk}}" class="">{{p.author}}</a>
    
    <h2><strong>{{p.title}}</strong></h2>
    {% if p.image %}
      <img src="{{p.image.url}}"></img>
    {% else %}
      <p>No Image</p>
    {% endif %} 
    <h1>{{p.text}}</h1>
    <h1>{{p.created_at}}</h1>
    
    <!--icons-->
    <a href="/like_post?post_id={{p.pk}}" class="">like</a>

    <a href="/comment/?post_id={{p.pk}}" class="">comment</a>

    <!--likes and comments  -->
        <strong>{{p.number_of_likes}}</strong> 
        likes and<strong>{{p.comments.count}}</strong> comments

        <hr>
        {% if not p.comments.all %}
          <h2>No comments</h2>
        {% else %}
        {% for comment in p.comments.all %}
          <br>
          <strong>{{comment.author}}</strong>
          <br>
          <h2>{{comment.text}}</h2>
          <p class="">{{comment.commented_at}}</p>
          <hr>
        {% endfor %}
        {% endif %}     
    {% endfor %}
                
    <!--pagination -->
    <ul>
        {% for p in paginator.page_range %}
        <a href="?page={{ p }}">{{ p }}</a>
        {% endfor %}
    </ul>
  </body>
</html>

