{% load static %} {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Register</title>
  </head>

  <body>
    <!-- header-->
    <div class="top-bar">
      <h1 class="name">My Blog</h1>
      <a href="/login/" class="change-link">Log in</a>
    </div>
    <!-- content-->
    <div class="register-form">
    <h1 class="sign-up-header">Sign Up</h1>
    <form action="" method="post">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        {{ field|add_class:'form-control'}}
        {% for error in field.errors %}
          <span class="error-message">{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" class="register-button">Sign Up</button>
    </form>
  </div>
  </body>
</html>

